{% extends "member_layout.html" %} {% block heading %}
<h1 class="head">Member Dashboard</h1>
{% endblock %} {% block content %}
<ul class="items">
  <li class="item">
    <a href="/member/manage_profile">
      <p>Manage Profile</p>
      <i class="fa-solid fa-user"></i>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <p>Manange Works</p>
      <i class="fa-solid fa-laptop-file"></i>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <p>Ask Doubts ?</p>
      <i class="fa-solid fa-question"></i>
    </a>
  </li>
  <!-- <li class="item">
    <a href="#">
      <p>Write a Feedbacks</p>
      <i class="fa-solid fa-comments"></i>
    </a>
  </li> -->

  <li class="item">
    <a href="#">
      <p>Upload Files</p>
      <i class="fa-solid fa-cloud-arrow-up"></i>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <p>View Files</p>
      <i class="fa-solid fa-folder"></i>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <p>Get Admin Help !</p>
      <i class="fa-regular fa-circle-xmark"></i>
    </a>
  </li>
</ul>
{% endblock %}
