{% extends "Layout.html" %} {% block user %}
<div class="top member">
  <div class="user">
    <img src="https://picsum.photos/70" alt="avatar" class="avatar" />
    <h3 class="name">Olivia doe</h3>
  </div>
  <div class="notifiction"><i class="fa-solid fa-bell active"></i></div>
</div>
{% endblock %} {% block heading %}
<h1 class="head">Member Dashboard</h1>
{% endblock %} {% block content %}
<ul class="items">
  <li class="item">
    <a href="#">
      <p>Manage Profile</p>
      <i class="fa-solid fa-user"></i>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <p>Ask Doubts ?</p>
      <i class="fa-solid fa-question"></i>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <p>Write a Feedbacks</p>
      <i class="fa-solid fa-comments"></i>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <p>Complaints</p>
      <i class="fa-solid fa-circle-exclamation red"></i>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <p>Upload Files</p>
      <i class="fa-solid fa-cloud-arrow-up"></i>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <p>View Files</p>
      <i class="fa-solid fa-folder"></i>
    </a>
  </li>
</ul>
{% endblock %}
