<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>send_feedback</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="372" border="0" align="center">
    <tr>
      <td valign="top"><div align="center">Feedback</div></td>
      <td><textarea name="textarea" cols="100" rows="10"></textarea></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center"><a href="#">Send</a></div></td>
    </tr>
  </table>
</form>
</body>
</html>
