{%extends "base.html"%} {% block title %} Leader Dashboard {% endblock %} {%
block body %}
<div id="dashboard">
  <aside>
    <div class="side-menu">
      <div class="menu-icon menu-toggle">
        <i class="fa-solid fa-bars open"></i
        ><i class="fa-solid fa-xmark close"></i>
      </div>
      <div class="user-infos-menu">
        <a href="#">
          <div class="user-img">
            <img src="https://picsum.photos/70" alt="user" />
          </div>
          <div class="user-name">
            <span>John Doe</span>
          </div>
        </a>
        <div class="user-actions">
          <a href="#"><i class="fa-solid fa-cog"></i></a>
          <a href="#"><i class="fa-solid fa-sign-out"></i></a>
        </div>
      </div>
      <ul>
        <div class="top-list-menu">
          <li>
            <a href="#"><i class="fa-solid fa-house"></i> <span>Home</span> </a>
          </li>
          <li>
            <a href="#"
              ><i class="fa-solid fa-users-viewfinder"></i>
              <span>Manage Leaders</span></a
            >
          </li>
          <li>
            <a href="#"
              ><i class="fa-solid fa-file-circle-plus"></i>
              <span>Add Works</span>
            </a>
          </li>
          <li>
            <a href="#"
              ><i class="fa-solid fa-list-check"></i>
              <span>Assign Works</span></a
            >
          </li>
          <li>
            <a href="#">
              <i class="fa-solid fa-circle-exclamation red"></i>
              <span>Assign Works</span></a
            >
          </li>
        </div>

        <li class="logout">
          <a href="#"><i class="fa-solid fa-power-off"></i> </a>
        </li>
      </ul>
    </div>
  </aside>
  <div class="dash">
    <div class="dash-fixed">
      <div class="top">
        <div class="user">
          <img src="https://picsum.photos/70" alt="avatar" class="avatar" />
          <h3 class="name">Olivia doe</h3>
        </div>
      </div>
      {% block heading %} {% endblock %}
    </div>
    <div class="content">{% block content %} {% endblock %}</div>
  </div>
</div>
{% endblock %}
