{% extends "leader_layout.html" %} {% block heading %}
<h1 class="head">Leader Dashboard</h1>
{% endblock %} {% block content %}
<ul class="items">
  <li class="item">
    <a href="/leader/edit_profile">
      <p>Manage Profile</p>
      <i class="fa-solid fa-user"></i>
    </a>
  </li>
  <li class="item">
    <a href="/leader/manage_members">
      <p>Manage Members</p>
      <i class="fa-solid fa-users-viewfinder"></i>
    </a>
  </li>
  <li class="item">
    <a href="/leader/manage_works">
      <p>Manange Works</p>
      <i class="fa-solid fa-laptop-file"></i>
    </a>
  </li>
  <li class="item">
    <a href="/leader/assign_works">
      <p>Assign Works</p>
      <i class="fa-solid fa-list-check"></i>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <p>View Doubts</p>
      <i class="fa-solid fa-question"></i>
    </a>
  </li>
  <li class="item">
    <a href="/leader/view_feedbacks">
      <p>Feedbacks</p>
      <i class="fa-solid fa-comments"></i>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <p>Upload Files</p>
      <i class="fa-solid fa-cloud-arrow-up"></i>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <p>View Files</p>
      <i class="fa-solid fa-folder"></i>
    </a>
  </li>
</ul>
<div class="send_notification">
  <h1 class="heading--sub">Send Notification</h1>
  <div class="send-not-form">
    <input
      type="text"
      placeholder="Write Notification here"
      class="sendnotification"
    >
    </input>
    <button type="submit" class="send">Send Notification</button>
  </div>
</div>

<script>
  const input = document.querySelector(".sendnotification");
  const button = document.querySelector(".send");
  const socket = io.connect("http://localhost:5000");
  socket.on("connect", () => {
    console.log("connected");
  });
  button.addEventListener("click", () => {
    if (input.value !== "") 
      socket.emit("message", input.value);
      input.value = "";
  });
</script>
{% endblock %}
