<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>edit_leader</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="325" border="0" align="center">
    <tr>
      <td width="166">First Name </td>
      <td width="149"><input type="text" name="textfield" /></td>
    </tr>
    <tr>
      <td>Last Name </td>
      <td><input type="text" name="textfield2" /></td>
    </tr>
    <tr>
      <td>Gender</td>
      <td><label>
        <input name="radiobutton" type="radio" value="radiobutton" />
        Male
        <input name="radiobutton" type="radio" value="radiobutton" />
        Female
        <input name="radiobutton" type="radio" value="radiobutton" />
        Others</label></td>
    </tr>
    <tr>
      <td>Place</td>
      <td><label>
        <input type="text" name="textfield3" />
      </label></td>
    </tr>
    <tr>
      <td>Pin</td>
      <td><input type="text" name="textfield32" /></td>
    </tr>
    <tr>
      <td>Post</td>
      <td><input type="text" name="textfield33" /></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><input type="text" name="textfield34" /></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><input type="text" name="textfield35" /></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center"><a href="#">Update</a></div></td>
    </tr>
  </table>
</form>
</body>
</html>
