{% extends "base.html" %} {% block title %} Login {% endblock %} {% block
page_content %}
<div id="app">
  <div class="home">
    <div class="left">
      <h1 class="welcome">
        WELCOME <br />
        BACK !
      </h1>
    </div>
    <div class="right">
      <h1 class="form-head">Login</h1>
      <p class="txt">Sign in to continue</p>
      <form action="login" method="post">
        <p>
          <label for="username">USERNAME </label>
          <input type="text" name="username" id="username" />
        </p>
        <p>
          <label for="password">PASSWORD </label>
          <input type="password" name="password" id="password" />
          <span class="view-pass-l"
            ><i class="fa-solid fa-eye pass-show-eye"></i
          ></span>
        </p>
        {% for message in get_flashed_messages() %}
        <div class="alert-error error">Error : {{ message }}</div>
        {% endfor %}
        <input type="submit" value="SignIn" />
      </form>
    </div>
  </div>
</div>
{% endblock %}
