<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>leader_home</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="250" border="0" align="center" cellpadding="5">
    <tr>
      <td colspan="2"><h1 align="center">Leader Home </h1></td>
    </tr>
    <tr>
      <td colspan="2"><a href="#">Manage Members</a></td>
    </tr>
    <tr>
      <td colspan="2"><a href="#">Works</a></td>
    </tr>
    <tr>
      <td colspan="2"><a href="#">Send Notification</a><a href="#">Doubts</a></td>
    </tr>
    
    <tr>
      <td colspan="2"><a href="#">Feedback</a></td>
    </tr>
    <tr>
      <td width="115"><a href="#">View Files</a></td>
      <td width="125"><div align="right"><a href="#">File Upload</a></div></td>
    </tr>
    <tr>
      <td colspan="2"><div align="right">
        <blockquote>
          <p><a href="#">LogOut</a></p>
          </blockquote>
      </div></td>
    </tr>
  </table>
</form>
</body>
</html>
