{% extends "base.html" %} {% block title %} Leader Dashboard {% endblock %} {%
block page_content %}

<div id="dashboard">
  <aside>
    <ul>
      <li>
        <a href="#"><i class="fa-solid fa-house"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-solid fa-power-off"></i></a>
      </li>
    </ul>
  </aside>
  <div class="dash">
    <div class="top">
      <div class="user">
        <img src="https://picsum.photos/70" alt="avatar" class="avatar" />
        <h3 class="name">Olivia doe</h3>
      </div>
      <h1 class="head">Leader Dashboard</h1>
    </div>
    <div class="content">
      <ul class="items">
        <li class="item">
          <a href="#">
            <p>Manage Members</p>
            <i class="fa-solid fa-users-viewfinder"></i>
          </a>
        </li>
        <li class="item">
          <a href="#">
            <p>Add Works</p>
            <i class="fa-solid fa-file-circle-plus"></i>
          </a>
        </li>
        <li class="item">
          <a href="#">
            <p>Assign Works</p>
            <i class="fa-solid fa-list-check"></i>
          </a>
        </li>
        <li class="item">
          <a href="#">
            <p>View Doubts</p>
            <i class="fa-solid fa-question"></i>
          </a>
        </li>
        <li class="item">
          <a href="#">
            <p>Feedbacks</p>
            <i class="fa-solid fa-comments"></i>
          </a>
        </li>
        <li class="item">
          <a href="#">
            <p>Upload Files</p>
            <i class="fa-solid fa-cloud-arrow-up"></i>
          </a>
        </li>
        <li class="item">
          <a href="#">
            <p>View Files</p>
            <i class="fa-solid fa-folder"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

{%endblock%}
