<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>socket</title>
  </head>
  <body>
    <ul class="container"></ul>
    <input type="text" class="send" />
    <button class="send-btn">Send</button>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" charset="utf-8">
      const input = document.querySelector(".send");
      const btn = document.querySelector(".send-btn");

      var socket = io("http://localhost:5000");
      socket.on("connect", function () {
        socket.emit("complaint", "hello");
      });
      socket.on("complaint", function (data) {
        li = document.createElement("li");
        li.innerHTML = data;
        document.querySelector(".container").appendChild(li);
      });
      btn.addEventListener("click", function () {
        socket.emit("complaint", input.value);
        input.value = "";
      });
    </script>
  </body>
</html>
