* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

// variables
@import "./scss/_variables";
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: $bg;
  color: #fff;
}
a {
  color: #fff;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(236, 122, 29);
  background: linear-gradient(
    78deg,
    rgba(236, 122, 29, 1) 0%,
    rgba(239, 112, 70, 1) 36%,
    rgba(249, 108, 177, 1) 100%
  );
  .left {
    height: 100vh;
    width: 50%;
    color: white;
    // background-color: $black;
    // clip-path: circle(95% at 0 50%);
    display: flex;
    align-items: center;
    justify-content: center;

    // img {
    //   width: 80%;
    //   height: 80%;
    //   object-fit: contain;
    // }
    .welcome {
      font-size: 4rem;
      font-weight: 500;
      letter-spacing: 5px;
    }
  }
  .right {
    height: 100vh;
    width: 48%;
    padding: 10%;
    text-align: center;
    // background-color: #fff;
    .form-head {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 0.3rem;
    }
    p.txt {
      // color: $grey-text;
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }
    form {
      margin-top: 2.5rem;
      .alert-error {
        font-size: 0.8rem;

        padding: 19px;
        color: red;
      }
      p {
        position: relative;
        text-align: left;
        display: flex;
        flex-direction: column;
        padding: 6px;
        label {
          font-size: 0.8rem;
          letter-spacing: 2.5px;
          margin: 10px 0;
          // color: $black;
        }
        input[type="text"],
        input[type="password"] {
          font-size: 1rem;
          padding: 12px;
          letter-spacing: 1px;
          border-radius: 7px;
          outline: none;
          border: none;
          background-color: $light-grey;
        }
        .view-pass-l {
          color: $black;
          position: absolute;
          right: 20px;
          top: 53px;
          i {
            cursor: pointer;
            opacity: 0.5;
          }
          .focused {
            opacity: 1;
          }
        }
      }
      input[type="submit"] {
        cursor: pointer;
        margin-top: 2rem;
        font-size: 1rem;
        padding: 12px 30px;
        letter-spacing: 1px;
        border-radius: 7px;
        outline: none;
        border: none;
        background-color: $black;
        color: #fff;
      }
    }
  }
}
.sym-try {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.sym-trysvg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.sym-try .shape-fill {
  fill: #fff;
}
// admin
@import "./scss/_dashboard";
@import "./scss/_functions";
@import "./scss/_chatroom";
// pages

@import "./scss/_pages";

// keyframes
