#dashboard {
  background-color: $bg;
  color: #fff;
  height: 100vh;
  display: grid;
  grid-template-columns: 80px auto;
  gap: 40px;
  padding-bottom: 50px;
  aside {
    background-color: $cardbg;
    position: relative;
    ul {
      display: flex;
      flex-direction: column;
      height: 100vh;
      padding: 30px;
      justify-content: space-between;
      position: fixed;
      left: 0;
    }
  }
  .dash {
    position: relative;
    .dash-fixed {
      padding: 20px 0;
      position: sticky;
      top: 0;
      background-color: $bg;
      width: 100%;
      z-index: 100;
      border-bottom: 1px solid rgba(255, 255, 255, 0.295);
    }
    .top {
      .user {
        display: flex;
        align-items: center;
        padding: 10px;
        img {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          margin-right: 10px;
        }
        .name {
          font-size: 1rem;
          font-weight: 500;
        }
      }
    }
    .member {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 50px 0 0;
      .notification {
        position: relative;
        ul.items {
          position: absolute;
          top: -5px;
          right: -5px;
          display: flex;
          flex-direction: column;
          background-color: $cardbg;
          padding: 8px 16px;
          width: 300px;
          display: none;
          .top {
            legend {
              font-size: 1rem;
              font-weight: 500;
              margin-bottom: 10px;
            }
            i {
              position: absolute;
              right: 15px;
              top: 5px;
              cursor: pointer;
            }
          }
          li.item {
            padding: 4px 2px;
            border-bottom: 1px solid $light-grey;

            color: #fff;
            font-size: 0.8rem;
            &:hover {
              color: $light-grey;
            }
          }
        }
        i {
          font-size: 1.2rem;
          color: rgba(255, 255, 255, 0.801);
          background-color: $cardbg;
          padding: 5px;
          border-radius: 50%;
          cursor: pointer;
        }
        &.active {
          i.fa-bell {
            display: none;
          }
          ul.items {
            display: flex;
          }
        }
      }
    }
    .head {
      margin-top: 15px;
      font-size: 1.5rem;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.918);
    }
    .content {
      margin-top: 30px;
      ul.items {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        li.item {
          width: 230px;
          height: 160px;
          background-color: $cardbg;
          border-radius: 10px;
          padding: 10px 20px;
          a {
            p {
              font-size: 0.9rem;
              font-weight: 500;
              &::before {
                content: "";
                display: inline-block;
                width: 12px;
                height: 12px;
                background-color: rgb(131, 58, 180);
                background: linear-gradient(180deg, #c33764 0%, #1d2671 100%);
                margin-right: 10px;
              }
            }
            i {
              font-size: 4rem;
              padding: 30px 50px;
              &.red {
                color: red;
              }
            }
          }
        }
      }
    }
    .works {
      margin-top: 30px;
      h1.works {
        font-size: 1.2rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.918);
        i {
          padding-right: 10px;
        }
      }
    }
  }
  ul.works-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    margin-top: 20px;
    li.work-item {
      background-color: $cardbg;
      width: max-content;
      min-width: 700px;
      padding: 8px 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 10px;
      gap: 30px;
      .work-info {
        h3.work-name {
          font-size: 1rem;
          font-weight: 500;
          color: rgba(255, 255, 255, 0.918);
        }
        p.work-desc {
          max-width: 550px;
        }
      }
      .work-action {
        cursor: pointer;

        i {
          font-size: 1rem;
          padding: 0 10px;
          &.status {
            color: $light-grey;
            cursor: default;
          }
          &.done {
            color: green;
          }
        }
      }
    }
  }
}
.send_notification {
  .send-not-form {
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 4px;
    input {
      background-color: $cardbg;
      height: 40px;
      border-radius: 5px;
      padding: 5px 10px;
      margin-bottom: 10px;
      resize: none;
      font-size: 0.95rem;
      color: #fff;
      &:focus {
        outline: none;
      }
    }
    button {
      background-color: $cardbg;
      border: none;
      border-radius: 5px;
      padding: 10px;
      color: #fff;
      cursor: pointer;
      font-size: 0.9rem;
      &:hover {
        background-color: $light-grey;
        color: $bg;
      }
    }
  }
}
