{% extends "admin_layout.html" %} {% block heading %}
<h1 class="head">Admin Dashboard</h1>
{% endblock %} {% block content %}
<ul class="items">
  <li class="item">
    <a href="/manage_leaders">
      <p>Manage Leaders</p>
      <i class="fa-solid fa-users-viewfinder"></i>
    </a>
  </li>
  <li class="item">
    <a href="/add_work">
      <p>Add Works</p>
      <i class="fa-solid fa-file-circle-plus"></i>
    </a>
  </li>
  <li class="item">
    <a href="/admin/assign_works">
      <p>Assign Works</p>
      <i class="fa-solid fa-list-check"></i>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <p>Complaints</p>
      <i class="fa-solid fa-circle-exclamation red"></i>
    </a>
  </li>
</ul>
<div class="works">
  <h1 class="works"><i class="fa-solid fa-hourglass-end"></i> Works</h1>
  <ul class="works-list">
    {% for item in works %}
    <li class="work-item">
      <div class="work-info">
        <h3 class="work-name">{{item.workname}}</h3>
        <p class="work-desc">{{item.description}}</p>
      </div>
      <div class="work-action">
        {% if item.status == "complete" %}
        <i class="fa-regular fa-square-check status done"></i>
        {% else %}
        <i class="fa-regular fa-square-check status"></i>
        {% endif %}
        <a href="work/delete?id={{item.workid}}">
          <i class="fa-solid fa-trash"></i>
        </a>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
