{% extends "Layout.html" %} {% block user %}
<div class="top">
  <div class="user">
    <img src="https://picsum.photos/70" alt="avatar" class="avatar" />
    <h3 class="name">John doe</h3>
  </div>
</div>
{% endblock %} {% block heading %}
<h1 class="head">Admin Dashboard</h1>
{% endblock %} {% block content %}
<ul class="items">
  <li class="item">
    <a href="/leaders">
      <p>Manage Leaders</p>
      <i class="fa-solid fa-users-viewfinder"></i>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <p>Add Works</p>
      <i class="fa-solid fa-file-circle-plus"></i>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <p>Assign Works</p>
      <i class="fa-solid fa-list-check"></i>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <p>Complaints</p>
      <i class="fa-solid fa-circle-exclamation red"></i>
    </a>
  </li>
</ul>
{% endblock %}
