{% extends "Layout.html" %} {% block user %}
<div class="top">
  <div class="user">
    <img src="https://picsum.photos/70" alt="avatar" class="avatar" />
    <h3 class="name">John doe</h3>
  </div>
</div>
{% endblock %} {% block heading %}
<h1 class="head">Manage Leaders</h1>
{% endblock %} {% block content %}
<div class="users">
  <div class="user-top">
    <a href="/leaders/new" class="add-leader">+ add leader</a>
  </div>
  <ul class="user-items">
    {% for item in data %}
    <li class="item">
      <div class="main">
        <h1>{{item.Fname}} {{item.Lname}}</h1>
        <a href="#">{{item.Email}}</a>
      </div>
      <div class="actions">
        <ul>
          <li class="items">
            <a href="leaders/edit?id={{item.id}}">edit</a>
          </li>
          <li class="items">
            <a href="leaders/delete?id={{item.id}}">delete</a>
          </li>
          <li class="items">
            <a href="#">view</a>
          </li>
        </ul>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
