{% extends "Layout.html" %} {% block user %}
<div class="top">
  <div class="user">
    <img src="https://picsum.photos/70" alt="avatar" class="avatar" />
    <h3 class="name">John doe</h3>
  </div>
</div>
{% endblock %} {% block heading %}
<h1 class="head">Manage Leaders</h1>
{% endblock %} {% block content %}
<div class="users">
  <div class="user-top">
    <a href="/leaders/new" class="add-leader">+ add leader</a>
  </div>
  <ul class="user-items">
    <li class="item">
      <div class="main">
        <h1>olivia john</h1>
        <a href="#">olivia@gmail.com</a>
      </div>
      <div class="actions">
        <ul>
          <li class="items">
            <a href="#">edit</a>
          </li>
          <li class="items">
            <a href="#">delete</a>
          </li>
          <li class="items">
            <a href="#">view</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="item">
      <div class="main">
        <h1>olivia john</h1>
        <a href="#">olivia@gmail.com</a>
      </div>
      <div class="actions">
        <ul>
          <li class="items">
            <a href="#">edit</a>
          </li>
          <li class="items">
            <a href="#">delete</a>
          </li>
          <li class="items">
            <a href="#">view</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="item">
      <div class="main">
        <h1>olivia john</h1>
        <a href="#">olivia@gmail.com</a>
      </div>
      <div class="actions">
        <ul>
          <li class="items">
            <a href="#">edit</a>
          </li>
          <li class="items">
            <a href="#">delete</a>
          </li>
          <li class="items">
            <a href="#">view</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="item">
      <div class="main">
        <h1>olivia john</h1>
        <a href="#">olivia@gmail.com</a>
      </div>
      <div class="actions">
        <ul>
          <li class="items">
            <a href="#">edit</a>
          </li>
          <li class="items">
            <a href="#">delete</a>
          </li>
          <li class="items">
            <a href="#">view</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="item">
      <div class="main">
        <h1>olivia john</h1>
        <a href="#">olivia@gmail.com</a>
      </div>
      <div class="actions">
        <ul>
          <li class="items">
            <a href="#">edit</a>
          </li>
          <li class="items">
            <a href="#">delete</a>
          </li>
          <li class="items">
            <a href="#">view</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="item">
      <div class="main">
        <h1>olivia john</h1>
        <a href="#">olivia@gmail.com</a>
      </div>
      <div class="actions">
        <ul>
          <li class="items">
            <a href="#">edit</a>
          </li>
          <li class="items">
            <a href="#">delete</a>
          </li>
          <li class="items">
            <a href="#">view</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="item">
      <div class="main">
        <h1>olivia john</h1>
        <a href="#">olivia@gmail.com</a>
      </div>
      <div class="actions">
        <ul>
          <li class="items">
            <a href="#">edit</a>
          </li>
          <li class="items">
            <a href="#">delete</a>
          </li>
          <li class="items">
            <a href="#">view</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="item">
      <div class="main">
        <h1>olivia john</h1>
        <a href="#">olivia@gmail.com</a>
      </div>
      <div class="actions">
        <ul>
          <li class="items">
            <a href="#">edit</a>
          </li>
          <li class="items">
            <a href="#">delete</a>
          </li>
          <li class="items">
            <a href="#">view</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="item">
      <div class="main">
        <h1>olivia john</h1>
        <a href="#">olivia@gmail.com</a>
      </div>
      <div class="actions">
        <ul>
          <li class="items">
            <a href="#">edit</a>
          </li>
          <li class="items">
            <a href="#">delete</a>
          </li>
          <li class="items">
            <a href="#">view</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="item">
      <div class="main">
        <h1>olivia john</h1>
        <a href="#">olivia@gmail.com</a>
      </div>
      <div class="actions">
        <ul>
          <li class="items">
            <a href="#">edit</a>
          </li>
          <li class="items">
            <a href="#">delete</a>
          </li>
          <li class="items">
            <a href="#">view</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
{% endblock %}
