{% extends "leader_layout.html" %} {% block content %}
<ul class="items">
  <li class="item">
    <a href="#">
      <p>Manage Members</p>
      <i class="fa-solid fa-users-viewfinder"></i>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <p>Add Works</p>
      <i class="fa-solid fa-file-circle-plus"></i>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <p>Assign Works</p>
      <i class="fa-solid fa-list-check"></i>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <p>View Doubts</p>
      <i class="fa-solid fa-question"></i>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <p>Feedbacks</p>
      <i class="fa-solid fa-comments"></i>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <p>Upload Files</p>
      <i class="fa-solid fa-cloud-arrow-up"></i>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <p>View Files</p>
      <i class="fa-solid fa-folder"></i>
    </a>
  </li>
</ul>
{% endblock %}
