{% extends "leader_layout.html" %} {% block heading %}
<h1 class="head">Manage Members</h1>
{% endblock %} {% block content %}
<div class="users">
  <div class="user-top">
    <a href="/leader/add_member" class="add-leader">+ add Member</a>
  </div>
  <ul class="user-items">
    {% for item in data %}
    <li class="item">
      <div class="main">
        <h1>{{item.Fname}} {{item.Lname}}</h1>
        <a href="#">{{item.Email}}</a>
      </div>
      <div class="actions">
        <ul>
          <li class="items">
            <a href="edit_member?id={{item.lid}}"
              ><i class="fa-solid fa-wand-magic-sparkles"></i
            ></a>
          </li>
          <li class="items">
            <a href="delete_member?id={{item.lid}}"
              ><i class="fa-solid fa-user-slash"></i
            ></a>
          </li>
          <li class="items">
            <a href="#"><i class="fa-regular fa-eye"></i></a>
          </li>
        </ul>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
