* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #2b2f42;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(236, 122, 29);
  background: linear-gradient(78deg, rgb(236, 122, 29) 0%, rgb(239, 112, 70) 36%, rgb(249, 108, 177) 100%);
}
.home .left {
  height: 100vh;
  width: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .left .welcome {
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 5px;
}
.home .right {
  height: 100vh;
  width: 48%;
  padding: 10%;
  text-align: center;
}
.home .right .form-head {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}
.home .right p.txt {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.home .right form {
  margin-top: 2.5rem;
}
.home .right form .alert-error {
  font-size: 0.8rem;
  padding: 19px;
  color: red;
}
.home .right form p {
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 6px;
}
.home .right form p label {
  font-size: 0.8rem;
  letter-spacing: 2.5px;
  margin: 10px 0;
}
.home .right form p input[type=text],
.home .right form p input[type=password] {
  font-size: 1rem;
  padding: 12px;
  letter-spacing: 1px;
  border-radius: 7px;
  outline: none;
  border: none;
  background-color: #ececec;
}
.home .right form p .view-pass-l {
  color: #2b2f42;
  position: absolute;
  right: 20px;
  top: 53px;
}
.home .right form p .view-pass-l i {
  cursor: pointer;
  opacity: 0.5;
}
.home .right form p .view-pass-l .focused {
  opacity: 1;
}
.home .right form input[type=submit] {
  cursor: pointer;
  margin-top: 2rem;
  font-size: 1rem;
  padding: 12px 30px;
  letter-spacing: 1px;
  border-radius: 7px;
  outline: none;
  border: none;
  color: #2b2f42;
  background-color: white;
}

.custom-shape-divider-top-1666710243 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1666710243 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1666710243 .shape-fill {
  fill: #fff;
}

#dashboard {
  background-color: #2b2f42;
  color: #fff;
  height: 100vh;
  display: grid;
  grid-template-columns: 50px auto;
  gap: 40px;
  padding-bottom: 50px;
}
#dashboard:has(> aside .active) {
  grid-template-columns: 200px auto;
}
#dashboard aside {
  position: relative;
}
#dashboard aside .side-menu {
  background-color: #353a50;
  position: fixed;
  height: 100vh;
  clear: both;
  padding: 20px 0;
}
#dashboard aside .side-menu .menu-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.2rem;
  cursor: pointer;
}
#dashboard aside .side-menu .menu-icon i.close {
  display: none;
  color: #2b2f42;
}
#dashboard aside .side-menu .user-infos-menu {
  display: none;
}
#dashboard aside .side-menu .user-infos-menu a {
  text-align: center;
}
#dashboard aside .side-menu .user-infos-menu a .user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px auto;
}
#dashboard aside .side-menu .user-infos-menu a .user-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#dashboard aside .side-menu .user-infos-menu a .user-name {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 10px;
}
#dashboard aside .side-menu .user-infos-menu .user-actions {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
#dashboard aside .side-menu .user-infos-menu .user-actions a {
  color: #fff;
  font-size: 1.2rem;
}
#dashboard aside .side-menu .user-infos-menu .user-actions a i {
  margin-right: 5px;
}
#dashboard aside .side-menu ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 20px;
}
#dashboard aside .side-menu ul .top-list-menu {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#dashboard aside .side-menu ul .top-list-menu li a span {
  padding: 0 10px;
  display: none;
}
#dashboard aside .side-menu ul li.logout {
  background-color: red;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}
#dashboard aside .side-menu.active .menu-icon i.open {
  display: none;
}
#dashboard aside .side-menu.active .menu-icon i.close {
  display: block;
}
#dashboard aside .side-menu.active .user-infos-menu {
  display: block;
}
#dashboard aside .side-menu.active ul li a span {
  display: inline-block;
}
#dashboard aside .side-menu.active ul li.logout {
  padding: 10px 50px;
}
#dashboard .dash {
  position: relative;
}
#dashboard .dash .dash-fixed {
  padding: 20px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #2b2f42;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid rgba(255, 255, 255, 0.295);
}
#dashboard .dash .top .user {
  display: flex;
  align-items: center;
  padding: 10px;
}
#dashboard .dash .top .user img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
#dashboard .dash .top .user .name {
  font-size: 1rem;
  font-weight: 500;
}
#dashboard .dash .member {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 0;
}
#dashboard .dash .member .notification {
  position: relative;
}
#dashboard .dash .member .notification ul.items {
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  flex-direction: column;
  background-color: #353a50;
  padding: 8px 16px;
  width: 300px;
  display: none;
}
#dashboard .dash .member .notification ul.items .top legend {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 10px;
}
#dashboard .dash .member .notification ul.items .top i {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
}
#dashboard .dash .member .notification ul.items li.item {
  padding: 4px 2px;
  border-bottom: 1px solid #ececec;
  color: #fff;
  font-size: 0.8rem;
}
#dashboard .dash .member .notification ul.items li.item:hover {
  color: #ececec;
}
#dashboard .dash .member .notification i {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.801);
  background-color: #353a50;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}
#dashboard .dash .member .notification.active i.fa-bell {
  display: none;
}
#dashboard .dash .member .notification.active ul.items {
  display: flex;
}
#dashboard .dash .head {
  margin-top: 15px;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.918);
}
#dashboard .dash .content {
  margin-top: 30px;
}
#dashboard .dash .content ul.items {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
#dashboard .dash .content ul.items li.item {
  width: 230px;
  height: 160px;
  background-color: #353a50;
  border-radius: 10px;
  padding: 10px 20px;
}
#dashboard .dash .content ul.items li.item a p {
  font-size: 0.9rem;
  font-weight: 500;
}
#dashboard .dash .content ul.items li.item a p::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: rgb(131, 58, 180);
  background: linear-gradient(180deg, #c33764 0%, #1d2671 100%);
  margin-right: 10px;
}
#dashboard .dash .content ul.items li.item a i {
  font-size: 4rem;
  padding: 30px 50px;
}
#dashboard .dash .content ul.items li.item a i.red {
  color: red;
}
#dashboard .dash .works {
  margin-top: 30px;
}
#dashboard .dash .works h1.works {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.918);
}
#dashboard .dash .works h1.works i {
  padding-right: 10px;
}
#dashboard ul.works-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  margin-top: 20px;
}
#dashboard ul.works-list li.work-item {
  background-color: #353a50;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 700px;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  gap: 30px;
}
#dashboard ul.works-list li.work-item .work-info h3.work-name {
  font-size: 1rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.918);
}
#dashboard ul.works-list li.work-item .work-info p.work-desc {
  max-width: 550px;
}
#dashboard ul.works-list li.work-item .work-action {
  cursor: pointer;
}
#dashboard ul.works-list li.work-item .work-action i {
  font-size: 1rem;
  padding: 0 10px;
}
#dashboard ul.works-list li.work-item .work-action i.status {
  color: #ececec;
  cursor: default;
}
#dashboard ul.works-list li.work-item .work-action i.done {
  color: green;
}

.send_notification .send-not-form {
  margin: 10px 5px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 4px;
}
.send_notification .send-not-form input {
  background-color: #353a50;
  height: 40px;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
  resize: none;
  font-size: 0.95rem;
  color: #fff;
}
.send_notification .send-not-form input:focus {
  outline: none;
}
.send_notification .send-not-form button {
  background-color: #353a50;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 0.9rem;
}
.send_notification .send-not-form button:hover {
  background-color: #ececec;
  color: #2b2f42;
}

.manage-user {
  margin: 50px auto;
  width: 60%;
}
.manage-user .heading {
  position: relative;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.699);
  font-weight: 600;
  padding: 10px;
}
.manage-user .heading::after {
  content: "  ";
  position: absolute;
  left: 120px;
  width: 60%;
  height: 0.5px;
  background-color: rgba(255, 255, 255, 0.103);
  top: 50%;
  transform: translateY(-50%);
}
.manage-user form {
  margin-top: 1rem;
}
.manage-user form .alert-error {
  font-size: 0.8rem;
  padding: 19px;
  color: red;
}
.manage-user form .col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.manage-user form fieldset.gender-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 8px;
  border: 0.5px solid rgba(255, 255, 255, 0.425);
  margin: 5px;
  border-radius: 5px;
}
.manage-user form fieldset.gender-col legend {
  padding: 0 10px;
  font-size: 0.8rem;
  letter-spacing: 2px;
}
.manage-user form fieldset.gender-col input:checked {
  background-color: lightblue;
}
.manage-user form p.row {
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 6px;
}
.manage-user form p.row label {
  position: absolute;
  opacity: 0;
  transition: 0.4s bottom, 0.8s opacity;
  bottom: 0;
  left: 15px;
  z-index: 1;
  padding: 1px 10px;
  font-size: 0.8rem;
  letter-spacing: 2.5px;
  background-color: #2b2f42;
  border-radius: 5px;
}
.manage-user form p.row .gender {
  opacity: 1;
  font-size: 0.9rem;
  position: relative;
  left: 0;
}
.manage-user form p.row input,
.manage-user form p.row textarea {
  font-size: 0.9rem;
  padding: 12px;
  margin: 2px 0;
  letter-spacing: 1px;
  border-radius: 5px;
  outline: none;
  border: 0.5px solid rgba(255, 255, 255, 0.425);
  background-color: transparent;
  color: #fff;
}
.manage-user form p.row input:focus, .manage-user form p.row input.active,
.manage-user form p.row textarea:focus,
.manage-user form p.row textarea.active {
  border: 1px solid white;
}
.manage-user form p.row input:focus::-moz-placeholder, .manage-user form p.row textarea:focus::-moz-placeholder {
  color: transparent;
}
.manage-user form p.row input:focus:-ms-input-placeholder, .manage-user form p.row textarea:focus:-ms-input-placeholder {
  color: transparent;
}
.manage-user form p.row input:focus::placeholder,
.manage-user form p.row textarea:focus::placeholder {
  color: transparent;
}
.manage-user form p.row input:focus + label, .manage-user form p.row input.active + label,
.manage-user form p.row textarea:focus + label,
.manage-user form p.row textarea.active + label {
  bottom: 70%;
  opacity: 1;
}
.manage-user form p.row input:required + label::after,
.manage-user form p.row textarea:required + label::after {
  content: "*";
  color: red;
}
.manage-user form p.row .view-pass {
  color: #fff;
  position: absolute;
  right: 20px;
  top: 18px;
}
.manage-user form p.row .view-pass i {
  cursor: pointer;
  opacity: 0.5;
}
.manage-user form p.row .view-pass .focused {
  opacity: 1;
}
.manage-user form .btn-grp {
  text-align: right;
}
.manage-user form .btn-grp input[type=submit],
.manage-user form .btn-grp input[type=reset] {
  cursor: pointer;
  margin: 0 5px;
  margin-top: 2rem;
  font-size: 0.9rem;
  padding: 8px 16px;
  letter-spacing: 1px;
  border-radius: 7px;
  outline: none;
  border: none;
  color: #2b2f42;
  background-color: white;
}
.manage-user form .btn-grp input[type=reset] {
  color: #fff;
  background-color: red;
}

.add-works form p.row textarea {
  resize: none;
}
.add-works form p.row textarea:focus + label, .add-works form p.row textarea.active + label {
  bottom: 95%;
  opacity: 1;
}

.container-flex {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  flex-wrap: wrap;
}

.heading--sub {
  position: relative;
  text-align: left;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.699);
  font-weight: 600;
  padding: 10px;
  margin-top: 50px;
}

ul.works-list li.work-item .work-info.info-assign {
  display: flex;
  align-items: center;
  gap: 10px;
}
ul.works-list li.work-item .work-info h4.leader-name {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.699);
  font-weight: 400;
  padding-top: 2px;
}
ul.works-list li.work-item .work-action form.assign-to select#leadersselect {
  padding: 5px 18px;
  background-color: transparent;
  color: #ececec;
  border-radius: 5px;
  margin: 0 20px;
}
ul.works-list li.work-item .work-action form.assign-to select#leadersselect option {
  background-color: #353a50;
}
ul.works-list li.work-item .work-action form.assign-to select#leadersselect:focus, ul.works-list li.work-item .work-action form.assign-to select#leadersselect:active {
  outline: none;
  border: 1px solid #ececec;
}
ul.works-list li.work-item .work-action form.assign-to input[type=submit] {
  padding: 5px 18px;
  background-color: #ececec;
  color: #2b2f42;
  border-radius: 5px;
  border: none;
}
ul.works-list li.work-item .status-head {
  color: #ececec;
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 2px;
}
ul.works-list li.work-item span.status {
  color: red;
}
ul.works-list li.work-item span.status.completed {
  color: green;
}

.content .feedbacks ul.messages {
  padding-top: 20px;
}
.content .feedbacks ul.messages li.message {
  width: 600px;
  background-color: #353a50;
  padding: 10px;
  border-radius: 5px;
}
.content .feedbacks ul.messages li.message .user h3.name {
  font-size: 1rem;
  color: #ececec;
  font-weight: 500;
  padding-bottom: 2px;
}
.content .feedbacks ul.messages li.message .message-content p.message-text {
  color: #ececec;
  font-size: 0.9rem;
  font-weight: 400;
  padding-bottom: 2px;
}
.content .feedbacks ul.messages li.message .message-content .message-time {
  text-align: right;
}
.content .feedbacks ul.messages li.message .message-content .message-time span {
  font-size: 0.7rem;
  color: #8f8e8e;
}

.content {
  margin: 0 auto;
  margin-bottom: 100px;
}
.content .users {
  width: 80%;
  margin: 0 auto;
}
.content .users .user-top {
  text-align: right;
}
.content .users .user-top a.add-leader {
  background-color: #353a50;
  padding: 8px 16px;
  border-radius: 5px;
}
.content .users .user-top a.add-leader:hover {
  background-color: #2b2f42;
  border: 1px solid #353a50;
}
.content .users .user-items {
  margin-top: 20px;
}
.content .users .user-items li.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 0.5px solid #353a50;
}
.content .users .user-items li.item .main h1 {
  font-size: 1.2rem;
}
.content .users .user-items li.item .main a {
  font-size: 0.9rem;
  color: #ececec;
}
.content .users .user-items li.item .actions ul {
  display: flex;
  align-items: center;
  gap: 20px;
}/*# sourceMappingURL=style.css.map */