{% extends "leader_layout.html" %} {% block heading %}
<h1 class="head">Manage Members</h1>
{% endblock %} {% block content %}
<div class="manage-user">
  <h1 class="heading">Edit Member</h1>
  <form action="/leader/edit_member1" method="post" class="edit-Member">
    <input type="text" name="lid" value="{{data.lid}}" hidden />
    <div class="col">
      <p class="row">
        <input
          type="text"
          name="firstname"
          id="firstname"
          placeholder="First Name"
          value="{{data.fname}}"
          required
        />
        <label for="firstname">First Name </label>
      </p>
      <p class="row">
        <input
          type="text"
          name="lastname"
          id="lastname"
          value="{{data.lname}}"
          placeholder="Last Name"
        />
        <label for="lastname">Last Name </label>
      </p>
    </div>
    <fieldset class="gender-col">
      <legend>Select Gender:</legend>

      <div>
        <input type="radio" id="gen1" name="gender" value="male" checked />
        <label for="male">Male</label>
      </div>

      <div>
        <input type="radio" id="gen2" name="gender" value="female" />
        <label for="female">Female</label>
      </div>

      <div>
        <input type="radio" id="gen3" name="gender" value="other" />
        <label for="other">Other</label>
      </div>
    </fieldset>
    <p class="row">
      <input
        type="text"
        name="place"
        placeholder="Place"
        value="{{data.place}}"
        required
      />
      <label for="place">Place </label>
    </p>
    <div class="col">
      <p class="row">
        <input
          type="text"
          name="post"
          placeholder="Post"
          value="{{data.post}}"
          required
        />
        <label for="post">Post </label>
      </p>

      <p class="row">
        <input
          type="number"
          name="pin"
          placeholder="Pin Code"
          value="{{data.pin}}"
          required
        />
        <label for="pin">Pin Code</label>
      </p>
    </div>
    <div class="col">
      <p class="row">
        <input
          type="email"
          name="email"
          placeholder="Email"
          value="{{data.email}}"
        />
        <label for="email">Email </label>
      </p>
      <p class="row">
        <input
          type="tel"
          name="phone"
          placeholder="Phone Number"
          value="{{data.phone}}"
          required
        />
        <label for="phone">Phone Number</label>
      </p>
    </div>
    <!-- {% for message in get_flashed_messages() %}
    <div class="alert-error">Error : {{ message }}</div>
    {% endfor %} -->
    <p class="btn-grp">
      <input type="reset" value="Cancel" />
      <input type="submit" value="update" />
    </p>
  </form>
</div>
{% endblock %}
