{% extends "leader_layout.html" %} {% block heading %}
<h1 class="head">Works</h1>
{% endblock %} {% block content %}
<div class="feedbacks">
  <h2 class="heading--sub">Feedbacks</h2>
  <ul class="messages">
    <li class="message">
      <div class="user">
        <h3 class="name">Olivia doe</h3>
      </div>
      <div class="message-content">
        <p class="message-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum
          dolor sit, amet consectetur adipisicing elit. Id, nam. Quisquam, quae.
        </p>
        <div class="message-time">
          <span>2:30 PM</span>
        </div>
      </div>
    </li>
  </ul>
</div>
{% endblock %}
