{% extends "admin_layout.html" %} {% block content %}
<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">Add Work</h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/admin/manage_works">Manage Works</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Add Work</li>
      </ol>
    </nav>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Add Work</h4>
          <p class="card-description">new work details</p>
          <form >
            <!-- workname -->
            <div class="form-group">
              <label >Work Name</label>
              <input
                type="text"
                class="form-control text-light"

                name="title"
                placeholder="Work Name"
              />
            </div>

            <!-- description -->

            <div class="form-group">
              <label >Description</label>
              <textarea
                class="form-control text-light"
                placeholder="say something..."
                rows="4"
              ></textarea>
            </div>
            <button class="btn btn-dark">Cancel</button>
            <button type="submit" class="btn btn-primary mr-2">Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
