{% extends "admin_layout.html" %} {% block heading %}
<h1 class="head">Manage Works</h1>
{% endblock %} {% block content %}
<div class="container-flex">
  <div class="assign-to-leader">
    <h1 class="heading--sub">Assign Work</h1>
    <ul class="works-list">
      {% if works %} {% for work in works %}
      <li class="work-item">
        <div class="work-info info-assign">
          <i class="fa-solid fa-screwdriver-wrench"></i>
          <h3 class="work-name">{{work.workname}}</h3>
        </div>
        <div class="work-action">
          <form action="/admin/assign_works1" method="post" class="assign-to">
            <input type="hidden" name="workid" value="{{work.workid}}" />
            <select name="leaderid" id="leadersselect">
              <option value="leader1">Select Leader Name</option>
              {% for leader in leaders %}
              <option value="{{leader.lid}}">
                {{leader.Fname}} {{leader.Lname}}
              </option>
              {% endfor %}
            </select>
            <input type="submit" value="Assign" />
          </form>
        </div>
      </li>
      {% endfor %} {% else %}
      <li class="work-item">
        <div class="work-info info-assign">
          <i class="fa-solid fa-screwdriver-wrench"></i>
          <h3 class="work-name">No Works Available</h3>
        </div>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="assign-to-leader">
    <h1 class="heading--sub">Assigned Works</h1>
    <ul class="works-list">
      {% for item in assigned %}
      <li class="work-item">
        <div class="work-info info-assign">
          <i class="fa-solid fa-check-double"></i>
          <div>
            <h3 class="work-name">{{item.workname}}</h3>
            <h4 class="leader-name">{{item.fname}} {{item.lname}}</h4>
          </div>
        </div>
        <div class="work-action">
          <h3 class="status-head">status</h3>
          {% if item.status == "complete" %}
          <span class="status completed">completed</span>
          {% else %}
          <span class="status">pending</span>
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
