{%extends "base.html"%} {% block title %} Member Dashboard {% endblock %} {%
block page_content %}
<div id="dashboard">
  <aside>
    <ul>
      <li>
        <a href="/member"><i class="fa-solid fa-house"></i></a>
      </li>
      <li>
        <a href="/"><i class="fa-solid fa-power-off"></i></a>
      </li>
    </ul>
  </aside>
  <div class="dash">
    <div class="dash-fixed">
      <div class="top">
        <div class="user">
          <img src="https://picsum.photos/70" alt="avatar" class="avatar" />
          <h3 class="name">Olivia doe</h3>
        </div>
      </div>
      <div class="member">
        {% block heading %} {% endblock %}
        <div class="notification">
          <i class="fa-regular fa-bell notification-btn"></i>
          <ul class="items">
            <div class="top">
              <legend>Notifications</legend>
              <i class="fa-solid fa-xmark notification-btn"></i>
            </div>
            <li class="item">
              Lorem, ipsum dolor sit amet consectetur adipisicing.
            </li>
            <li class="item">
              Lorem, ipsum dolor sit amet consectetur adipisicing.
            </li>
            <li class="item">
              Lorem, ipsum dolor sit amet consectetur adipisicing.
            </li>
            <li class="item">
              Lorem, ipsum dolor sit amet consectetur adipisicing.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content">{% block content %} {% endblock %}</div>
  </div>
</div>
<script>
  const notification = document.querySelector(".notification");
  const notificationBtn = document.querySelectorAll(".notification-btn");
  notificationBtn.forEach((btn) => {
    btn.addEventListener("click", () => {
      notification.classList.toggle("active");
    });
  });
</script>
{% endblock %}
