{% extends "base.html" %} {% block body %}
<div class="container-scroller">
  <div class="container-fluid" style="min-height: 100vh">
    <div class="content-wrapper d-flex auth h-100 p-0">
      <div class="card w-50">
        <div
          class="card-body px-5 py-5 d-flex flex-column justify-content-around"
        >
          <div class="top">
            <h2 class="card-title text-left">Welcome Back</h2>
            <p class="text-muted">
              Welcome Back ! Please enter your details to continue
            </p>
          </div>
          <form action="/login" method="post" class="w-75">
            <div class="form-group py-3">
              <label>Username or email *</label>
              <input
                type="text"
                class="form-control p_input border border-grey rounded bg-transparent"
                name="username"
              />
            </div>
            <div class="form-group">
              <label>Password *</label>
              <input
                type="text"
                class="form-control p_input border border-grey rounded bg-transparent"
                name="password"
              />
            </div>
            <div
              class="form-group d-flex align-items-center justify-content-between"
            >
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input text-primary" /> Remember me
                </label>
              </div>
              <a href="#" class="forgot-pass text-primary">Forgot password</a>
            </div>
            <div class="text-center">
              <button
                type="submit"
                class="btn bg-pink btn-block enter-btn rounded"
              >
                Sign in
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="right w-50">
        <div class="d-flex align-items-center justify-content-center h-100">
          <div class="circle bg-pink"></div>
          <div class="wrapper"></div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  {% endblock %}
</div>
