{%extends "base.html"%} {% block title %} Member Dashboard {% endblock %} {%
block page_content %}
<div id="dashboard">
  <aside>
    <div class="side-menu">
      <div class="menu-icon menu-toggle">
        <i class="fa-solid fa-bars open"></i
        ><i class="fa-solid fa-xmark close"></i>
      </div>
      <div class="user-infos-menu">
        <a href="#">
          <div class="user-img">
            <img src="https://picsum.photos/70" alt="user" />
          </div>
          <div class="user-name">
            <span>John Doe</span>
          </div>
        </a>
        <div class="user-actions">
          <a href="#"><i class="fa-solid fa-cog"></i></a>
          <a href="#"><i class="fa-solid fa-sign-out"></i></a>
        </div>
      </div>
      <ul>
        <div class="top-list-menu">
          <li>
            <a href="#"><i class="fa-solid fa-house"></i> <span>Home</span> </a>
          </li>
          <li>
            <a href="#"
              ><i class="fa-solid fa-users-viewfinder"></i>
              <span>Manage Leaders</span></a
            >
          </li>
          <li>
            <a href="#"
              ><i class="fa-solid fa-file-circle-plus"></i>
              <span>Add Works</span>
            </a>
          </li>
          <li>
            <a href="#"
              ><i class="fa-solid fa-list-check"></i>
              <span>Assign Works</span></a
            >
          </li>
          <li>
            <a href="#">
              <i class="fa-solid fa-circle-exclamation red"></i>
              <span>Assign Works</span></a
            >
          </li>
        </div>

        <li class="logout">
          <a href="#"><i class="fa-solid fa-power-off"></i> </a>
        </li>
      </ul>
    </div>
  </aside>
  <div class="dash">
    <div class="dash-fixed">
      <div class="top">
        <div class="user">
          <img src="https://picsum.photos/70" alt="avatar" class="avatar" />
          <h3 class="name">Olivia doe</h3>
        </div>
      </div>
      <div class="member">
        {% block heading %} {% endblock %}
        <div class="notification">
          <i class="fa-regular fa-bell notification-btn"></i>
          <ul class="items not-items">
            <div class="top">
              <legend>Notifications</legend>
              <i class="fa-solid fa-xmark notification-btn"></i>
            </div>
            {% for notification in notificationdata %}
            <li class="item">{{notification.notification}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="content">{% block content %} {% endblock %}</div>
  </div>
</div>

<script>
  const notification = document.querySelector(".notification");
  const notificationBtn = document.querySelectorAll(".notification-btn");
  const container = document.querySelector(".not-items");
  notificationBtn.forEach((btn) => {
    btn.addEventListener("click", () => {
      notification.classList.toggle("active");
    });
  });
  const socket = io.connect("http://localhost:5000");
  socket.on("connect", () => {
    console.log("connected");
  });
  socket.on("notification", (message) => {
    const li = document.createElement("li");
    li.classList.add("item");
    li.innerText = message;
    container.insertBefore(li, container.children[1]);
  });
</script>
{% endblock %}
