<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>work</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="518" border="0" align="center" bordercolor="#000000">
    <tr>
      <td width="124">Work Name </td>
      <td width="105">Date</td>
      <td width="115">Status</td>
      <td width="45">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><label>
        <input name="radiobutton" type="radio" value="radiobutton" />
      Completed<br />
      <input name="radiobutton" type="radio" value="radiobutton" />
      Processing<br />
      </label></td>
      <td><a href="#">Update</a></td>
    </tr>
  </table>
</form>
</body>
</html>
